ul {
  list-style-type: none;
}
li {
  text-align: left;
}
.friendsList {
  padding: 20px 0px;
    background-color: #f9f9f0;
}
.friendsListTitle {
  text-align: left;
  padding-left: 20px;
  font-style: italic;
}
