.friend-list-wrapper {
  background: hsl(199, 100%, 41%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.friend-list-wrapper__friend-list {
  background: hsl(199, 100%, 61%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin: 3rem auto;
  padding: 10px;
  width: 300px;
}

.friend-list__item {
  color: #ddd;
  font-size: 1.25rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
}

.friend-list__item:nth-child(odd) {
  background: hsl(199, 100%, 21%);
}