.friend-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.friend-list-wrapper__friend-list {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin: 3rem auto;
  padding: 10px;
  width: 300px;
}

.friend-list__item {
  font-size: 1.25rem;
  padding: 5px 0;
}

.friend-list__item:nth-child(odd) {
  background: #ddd;
}