.App {
  text-align: center;
  padding: 15px;
}

.friends-list {
  text-align: left;
  width: 50vw;
  margin: auto;
}

.friends-list h1 {
  text-align: center;
}

.friend-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.friend-forms div {
  border: solid 1px rgba(0,0,0,.3);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 1px 1px 30px 1px rgba(0,0,0,.2);
}

form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: auto;
}

label {
  font-weight: bold;
}

form input:nth-child(even) {
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-item {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  border: solid .5px rgba(0,0,0,.2);
  border-radius: 10px;
  padding: 10px;
}

.nav-item:hover {
  box-shadow: .5px .5px 20px .5px rgba(0,0,0,.1);
}

.selected {
  color: red;
}

