.app {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.add-friend table{
  margin: 0;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.friend-list ul {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.friend {
  display: block;
  margin: 3px;
  text-align: left;
  border-color: rgb(141, 174, 189);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.friend > * {
  padding: 0;
  margin: 3px;
}
