* {
    box-sizing: border-box;
}

html {
    background: brown;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 800px;
    max-width: 800px;
    width: 100%;
    background: green;
}

.header {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 10px;
}

.grid {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.form {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: blueviolet;    
}

.form__items {
    width: 50%;
    text-align: center;
    margin: 5px;
}

label {
    font-size: 20px;
}
