.friends-list {
margin: 5rem;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.friend-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  border: 1px solid green;
  text-align: center;
}

.form-container {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
}