.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  background-color: #24292e;
  color: hsla(0,0%,100%,.75);
  padding-bottom: 12px;
  padding-top: 12px;
  z-index: 32;
  list-style: none;
}

.navbar > li > a {
  color: #89f442fa;
  text-decoration: none;
  padding: 12px;
  height: 16px;
}

.navbar > li > a.activeNavButton {
  background-color: #f442b9;
  color: white;
}

.list-wrapper {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.header {
 
}

.card {
  width: 30%;
  max-width: 265px;
  min-width: 220px;
  margin: 50px 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-wrapper {
  width: 500px;
  padding: 30px;
  background: #ffffff;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-wrapper h2 {
  background: #f442b9;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

input {
  color: #566575;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px;
  height: 45px;
}

button {
  padding: 10px;
  background-color: #89f442fa;
  color: #566575;
}