.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.friend-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.friend {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}