.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cardWrapper {
  border: 1px solid gray;
  max-width: 250px;
  margin: 0 auto;
}