.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  height: 45px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: rgb(201, 123, 123);
}

nav a {
  color: black;
  margin-right: 30px;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
}

nav a:after {
    content:"";
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    height: 0.5em;
    width: 0;
    border-top: 2px solid black;
    z-index: -1;
    transition: width 400ms;
}

nav a:hover:after {
  width: 100%;
}

nav a:before {
    content:"";
    position: absolute;
    bottom: -15px;
    right: 0;
    height: 0.5em;
    width: 0;
    border-top: 2px solid black;
    z-index: -1;
    transition: width 400ms;
}

nav a:hover:before {
  width: 100%;
}

.friends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.friends-container:nth-child(1), .friends-container:nth-child(2) {
  margin-top: 65px;
}

.friend-card {
  border: 2px outset rgba(0, 0, 0, 0.75);
  background-color: rgb(243, 237, 146);

  width: 45%;
  margin: 5px auto;
  padding: 15px 5px;

  text-align: center;
}

.App form {
  margin-top: 8%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  margin: 10px;
  width: 30%;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 2px inset #4682B4;
  background-color: transparent;
  transition: width 500ms, height 500ms, color 500ms, background-color 300ms, border 200ms;
}

input::placeholder {
  transition: color 500ms;
}

input:focus::placeholder {
  color: #F0F8FF;
}

input:focus {
  outline: none;
  border: none;
  width: 45%;
  height: 30px;
  background-color: rgb(133, 50, 36);
  color: #F0F8FF;
}

button {
  width: 150px;
  height: 35px;
  margin: 10px 30px;
  border: none;

  font-size: 1.2rem;
  color: #4682B4;

  cursor: pointer;
  transition: color 500ms, background-color 300ms;
}

button:hover {
  background-color: #4682B4;
  color: #F0F8FF;
}