.App {
  text-align: center;
}
.friends-container {
  display: flex;
  flex-wrap: wrap;
}
.friend {
  width: 210px;
  height: 160px;
  background: white;
  border-radius: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #b6b6b6;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  div {
    padding: 5px;
  }
  .friend-email {
    font-size: 12px;
  }

  &:hover {
    background: rgba(200, 200, 200, 0.1);
  }

  button {
    cursor: pointer;
    margin-top: 10px;
    background: rgba(200, 200, 200, 0.1);
    border: 1px solid rgb(48, 84, 126);
    border-radius: 4px;
    padding: 4px;

    &:hover {
      padding: 3px;
      border: 2px solid rgb(48, 84, 126);
      background: rgba(100, 100, 100, 0.3);
    }
  }
}

.add-friend-form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;

    input {
      background: white;
      border: 1px solid #b6b6b6;
      border-radius: 3px;
      margin: 2px;
    }

    .add-button {
      cursor: pointer;
      margin-top: 10px;
      border: 1px solid rgb(48, 84, 126);
      border-radius: 4px;
      padding: 4px;

      &:hover {
        padding: 3px;
        border: 2px solid rgb(48, 84, 126);
        background: rgba(100, 100, 100, 0.3);
      }
    }
  }
}