body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:visited {
  color: #3399ee;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  min-height: 500px;
  margin: 20px auto;
  padding: 40px;
  background: #333;
  border: 2px solid #333;
  border-radius: 15px;
}

.header {
  background: #eee;
  padding: 30px 40px;
  width: 500px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  border: 3px solid #2266aa;
  border-radius: 5px;
}

.header a {
  width: 200px;
  background: #fff;
  padding: 15px;
  margin: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
}

.header a:hover {
  color: #fff;
  background: #2266aa;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

form input {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 10px;
  border: 1px solid #777;
  border-radius: 4px;
  font-size: 15px;
}

form input:focus {
  outline: none;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(98, 100, 112, 1);
  -moz-box-shadow: 0px 2px 10px 1px rgba(98, 100, 112, 1);
  box-shadow: 0px 2px 10px 1px rgba(98, 100, 112, 1);
}

button {
  width: 200px;
  height: 50px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background: #3399ee;
  border: 1px solid #777;
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
}

button:hover {
  color: #3399ee;
  background: #fff;
}

.friends {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.friend-card {
  width: 200px;
  height: 80px;
  font-size: 2rem;
  line-height: 80px;
  text-align: center;
  margin: 15px;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  background: #3399ee;
  text-decoration: none;
}

.friend-card:hover {
  color: #3399ee;
  background: #fff;
}

.friend-card a {
  text-decoration: none;
}

.friend-card a:visited {
  color: inherit;
}

.friend {
  margin-bottom: 15px;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
}

.friendDetail {
  margin: 5px 0;
}