.App {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: burlywood;
}

.root {
  background: burlywood;
}

.nav {
  margin: 25px 0;
}

span {
  margin: 0 20px;
  text-decoration: none;
  color: rgb(121, 63, 29);
  font-weight: 800;
}

span:hover {
  color: burlywood;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

