.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.List{
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.friend{
  border: 1px solid green;
  margin-top: 20px;
  width: 100%;
}
.form{
  margin: 40px 0 20px;
}
