.contactCard {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  margin: 2%;
  border-radius: 20px;
  width: 600px;
}

h3 {
  margin: 3%;
  color: white;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 3%;
  background-color: rgb(22, 22, 95);
  border-radius: 10px;
}

.info {
  margin-left: 2%;  
  background-color: aliceblue;
}

p {
  font-size: 20px;
  color: #0b219e;
  font-style: italic;
  font-weight: bold;
  background-color: rgba(208, 208, 219, 0.267);
}

.age {
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}

.email {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.7rem;
  color: #082ae9;
  padding-left: 5%;
  margin: 0 5px;
  border-top: 1px solid black;
}