body {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
}
.inputText {
  margin: 10px;
  font-size: 22px;
  display: inline;

}

.email {
  text-decoration: underline;
  color: blue;
}
.pet_species {
  float: left;
  padding-left: 100;
}
.pet_name {
  float: right;
  margin: 0 0 10 0
}