body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
footer {
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 90%;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
  text-align: center;
}
.friend-form {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
}
.friend-form .form-group {
  margin: 0 5px;
}
@media (max-width: 500px) {
  .friend-form .form-group {
    margin-bottom: 5px;
  }
}
.friend-form button {
  margin: 0 5px;
}
.friend-form button:hover {
  color: lightgray;
}
.friends {
  border-radius: 5px;
  background: #222;
  width: 98.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2vh;
  color: white;
}
.friends h3 {
  margin: 0 15px 30px;
}
