.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  border-radius: 10px;
}

.App-header {
  background-color: #061318;
  height: 150px;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.App-title {
  font-size: 3.5rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.divFriendsList, .divNewFriend {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
