.friends {
  border-radius: 5px;
  background: #222;
  width: 98.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2vh;
  color: white;
  margin-top: 30px;

  .friend {
    margin: 0 15px 30px;

    .friend-btns {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
