body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 90%;
  margin-top: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}
