body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

footer {
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 90%;
  margin-top: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.friend-form {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;

  .form-group {
    margin: 0 5px;

    input {
      width: 220px;
    }

    input[type='number'] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    @media (max-width: 500px) {
      margin-bottom: 5px;
    }
  }

  button {
    margin: 0 5px;

    &:hover {
      color: lightgray;
    }
  }
}

.friends {
  border-radius: 5px;
  background: #222;
  width: 98.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2vh;
  color: white;

  h3 {
    margin: 0 15px 30px;
  }
}
