.friend-card{
    border: 1px solid gray;
    width: 20%;
    margin: 20px 4.5%;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    padding: 20px 20px;
}

.close{
    position: absolute;
}