.friends-form {
    color: #000;
    font-size: 12px;
    width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #d2d2d2;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* box-shadow: 8px 6px 3px 0px rgba(51, 2, 51, 1); */
    /* background-color: rgba(156, 68, 45, 1) */
}

input {
    margin: 5px;
}