.add {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 24px;
	bottom: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
	cursor: pointer;
	height: 48px;
	left: 10px;
	padding: 10px;
	position: fixed;
	width: 105px;
	-webkit-tap-highlight-color: transparent;
}

.add:hover {
	background-color: #fafafb;
	box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.add img {
	position: relative;
	right: 2px;
}

.post {
	color: #3c4043;
	font-size: 18px;
	font-weight: 600;
	padding-left: 5px;
}
