.friendCardWrapper {
  width: 25%;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  background: #011627;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 0 0 10px 1px #ff3366;
  z-index: 4;
  /* 2 ways to deal with text overflow below */
  /* overflow: hidden; */
  word-wrap: break-word;
}

.friendCardWrapper:nth-child(odd) {
  box-shadow: 0 0 10px 1px #2ec4b6;
}

.friendWrapper {
  display: flex;
  flex-wrap: wrap;
}
