/*TODO*/
.Friend {
    font-size: 14px;
    width: 225px;
    height: 300px;
    margin-right: 20px;
    margin-top: 10px;
}

.Friend Card {
    background-color: aqua;
}

.Friend__cardlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    /*width: 1000px;*/
}

.Friend__addform {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 500px;*/
}