.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  height: 180px;
  margin: 0 20px 20px 0;
  padding: 10px 0;
  width: 325px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 8px 3px 25px;
  width: 100%;
}

.delete {
  position: relative;
  cursor: pointer;
  top: 3.5px;
}

.name {
  margin: 0;
}

.content {
  padding: 0 10px;
}

.text {
  background-color: #F1F3F4;
  border-radius: 18.5px;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 7px 15px 10px 15px;
  text-overflow: ellipsis;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.edit {
  color: #3c4043;
  cursor: pointer;
  margin-right: 8px;
  text-align: right;
}

@media (max-width: 1050px) {
  .card {
    margin: 0 2% 20px 2%;
  }
}

@media (max-width: 300px) {
  .card {
    width: 95%;
  }
}
