table {
	width: 800px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 18px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td .delete-btn {
	background: #ffadad;
	padding: 3px 8px;
	font-size: 16px;
}


td .edit-btn {
	background: #a5b0ff;
	padding: 3px 8px;
	font-size: 16px;
}