.AddFriendFormContainer {
	margin: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.AddFriendForm {
	height: 100px;
	width: 1000px;

	display: inherit;
	flex-direction: column;
	align-items: center;
}

.AddFriendInputs {
	display: inherit;
	flex-direction: row;
	justify-content: center;
}

.AddFriendInput {
	margin: 10px;
}

.AddFriendInput--text {
	display: inline;
}

.AddFriendInput input {
	margin-left: 4px;

	display: inline;
}

.AddFriendButton {
	width: 100px;
}

.ServerResponseContainer {
	text-align: center;
}
