
.formBox {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 25%;
    height: 175px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.inputField {
    width: 65%;
    margin: 5px auto;
    border-radius: 2px;
    border: 1px solid black;
}

.inputField1 {
    width: 65%;
    margin: 5px auto;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid black;
}

.friendTitle {
    width: 100%;
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    border-bottom: 1px dashed black;
    justify-content: space-around;
}

.submitButton {
    width: 20%;
    margin: 5px auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 25px;
}