

.friendList {
    display: inline;


}
.friend {
    margin-left: 10px;
}

.myCard{

    display: inline-block;
    color:black;
    font-size: 18px;
    margin-left:10px;
    margin-top: 10px;
    margin-right:10px;
    width:356px;
    height:225px;
    border:1px solid black;
    text-align: left;
    background-color:lightcoral;
    padding-top: 10px;
    border-radius:5%;
}

.each{
    margin-top: 5px;

    width:100%;
    height:44px;
    border-bottom:1px dashed green;
    display: flex;
}
.eachLast {
    margin-top: 5px;

    width:100%;
    height:44px;

    display: flex;
}

.left {
    padding-left: 15px;
    padding-top: 7px;
    width:120px;
    color:white;

}

.right {
    display: inline-block;
    padding-top: 7px;
    width: 250px;
    height: 29px;
    font-size: 10px;
    background-color: dodgerblue;
    border-color: dodgerblue;


}

.right input {

    color: white;
}
.classList {
    display: flex;
    flex-wrap: wrap;

}

.Header{

    font-size: 40px;
    color:blue;

}
.buttons {
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;

    display: flex;
    justify-content: space-between;
}
button {
    border-radius: 10%;
    background-color: black;
    color: white;
    width: 100px;
}
.update{
    display: inline-block;
    color:black;
    background-color:lightcoral;
    border : dodgerblue;
    font-size: 20px;
    height: 34px;
    font-weight: bold;


}
.del-btn{
    margin-left: 70px;
    display:inline-block;

}
