.friends-list-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.friends-list-wrapper a {
    text-decoration: none;
    background: rgba(127, 139, 176, .2);
    color: #081845;
    width: 35%;
    margin: 30px;
    padding: 40px;
    cursor: pointer;
    box-shadow: 0 10px 6px -6px #777;
}
.friends-list-wrapper a:hover {
    background: #02373F;
    color: white;
}
.friend-card p {
    margin-bottom: 10px;
}
.friend-card p:last-child {
    margin-bottom: 0;
}
.friend-card p span {
    font-weight: bold;
    margin: 5px;
}
