.friends-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 auto;
  width: 1000px;
  flex-wrap: wrap;
}

.my-friends {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 600px;
}

.friend {
  text-align: left;
  margin: 0 30px 15px 0;
  cursor: pointer;
  border-bottom: 3px solid #fabb1d;
  padding: 20px 0;
  padding-left: 5px;
  width: 250px;
  position: relative;
}

.friend:hover {
  transform: translateY(-6px);
  transition: 0.2s;
}

.friend:hover .fa-times {
  color: #e82328;
  transition: 0.3s;
}

.friend:hover .fa-user-edit {
  color: #08b1e6;
  transition: 0.3s;
}

.fa-times {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #ccc;
}

.fa-user-edit {
  color: #888;
  margin-top: 10px;
}

.add-friend {
  background: #eee;
  width: 250px;
  padding: 30px 25px;
  margin-right: 60px;
  /* margin: 40px auto 80px; */
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 18px;
  background: #08b1e6;
  color: white;
  margin: 5px auto 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background: #06c5ff;
}

input[type="text"] {
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

h2 {
  margin: 0;
}

form .dropdown {
  width: 250px;
}
