.my-form{

    margin-top: 10%;
   display:flex;
   flex-direction: column;

    height :500px;


}

.form-body{
    display:flex;
    flex-direction: column;
    align-items: center;



}



.group {


    background-color:darkred;
    margin-top: 2%;
    margin-bottom: 2%;
    color:white;
    font-size: 20px;
    border:1px solid black;
    text-align: center;



}

input{
    width:300px;
    height:70px;


}

.btn {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    height: 50px;




}

.form-btn{
    background-color: black;
    color:white;
    width:150px;
    border: 1px solid white;
}