.friends-page {
    max-width: 800px;
    width: 100%;
}

.friend-form {
    width: 100%;
}

.friends-list {
    width: 100%;
}

input {
    width: 100%;
}

.friend-name {
    width: 30%;
    text-align: left;
}

.friend-age {
    width: 12%;
    text-align: left;
}

.friend-email {
    width: 38%;
    text-align: left;
}

.friend-controls {
    width: 20%;
    text-align: center;
}

.friend-controls button {
    width: 90%;
}

.friend-controls span {
    margin: 0 10px;
    cursor: pointer;
}

.friend-controls .friend-update {
    color: green;
}

.friend-controls .friend-delete {
    color: red;
}
