.people{
    color: white;
    border-radius: 2em;
    margin: 1em;
    text-align: center;
    background-color: rgba(230, 17, 148, 0.75);
    width: 25%;
    position: relative;
    justify-content: center;
}

.peopleBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.list{
    color: white;
    text-emphasis: bold;
    text-align: center;
    background-color:  rgba(17, 49, 230, 0.85);
    border-radius: 1em;
    margin: 1em;
    width: 40%;
}

.listBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}