.friend-wrapper {
    background-color: #fff;
    border: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    cursor: pointer;
    position: relative;
    margin: 1rem auto;
}

.button {
    top: 25px;
    right: 25px;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: grey;
}
