.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: bold;
}

.name {
  display: flex;
}

.age {
  display: flex;
}

.email {
  display: flex;
}

input {
  margin-left: 10px;
}

.age > input {
  margin-left: 23px;
}

.email > input {
  margin-left: 11px;
}

.submit {
  margin-left: 172px;
  background-color: green;
  color: white;
  font-weight: bold;
}