.friendsList{
    margin: 0 auto;
    background-color: lightgrey;
    /* width: 900px; */
}

.friendCard{
    margin: 20px auto;
    width: 30%;
    border: 1px solid black;
    background-color: grey;
    border-radius: 80px;
}

button{
    border-radius: 10px;
}