input,
button {
    padding: 0.25rem;
    border: 1px solid #ccc;
    margin: 0.25rem;
}

button {
    background: white;
    padding: 0.25rem .5rem;
}

.people-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.people {
    display: inline-block;
    justify-content: center;
    font-size: 1.1rem;
    cursor: default;
    border: 1px solid #ccc;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
}

.people span {
    color: rgba(238, 42, 42, 0.89);
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    padding: 0.25rem;
    padding-top: 0rem;
    margin: 0.25rem 0 0 0;
    border: 1px solid #ccc;
}

.people .edit {
    color: black;
    margin: 0 .5rem;
    cursor: pointer;
    user-select: none;
}