
.friend-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 2%;
    border: 1px solid black;
    margin: 2%;
    background: lightgray;
    align-items: center;
    
}