.form-container {
  max-width: 600px;
  margin: auto;
  display: flex;
}
.form-container form {
}
.form-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px lightgrey solid;
  text-align: center;
  margin: 4px;
}
.friends-container {
  max-width: 600px;
  margin: auto;
  position: relative;
}
.friends-container h1 {
  text-align: center;
}
.form-container #submit {
  background: green;
  color: white;
  cursor: pointer;
}
.friends-container span {
  position: absolute;
  left: -40px;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

.friends-container ul {
  list-style: none;
}
.friends-container i {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  margin-top: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
