html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #455a64;
  font-family: monospace;
}

.brand-logo {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1.6rem;
  margin: 0 2rem;
}

h2 {
  color: #cfd8dc;
}

h3 {
  color: #cfd8dc;
}

.card {
  padding: 2rem;
  background-color: #cfd8dc;
  opacity: 90%
  color: #455a64;
}

.card h3 {
    color: #455a64;
}